user_guide
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
# PHP STORM
/Applications
.idea/
node_modules/.bin/_mocha
node_modules/.bin/karma
node_modules/.bin/mocha
node_modules/.bin/phantomjs
node_modules/angular-animate/
node_modules/angular-flash-alert/
node_modules/angular-i18n/
node_modules/angular-local-storage/
node_modules/angular-mocks/
node_modules/angular-modal-service/
node_modules/angular/
node_modules/chai/
node_modules/jasmine-core/
node_modules/karma-chai-sinon/
node_modules/karma-chrome-launcher/
node_modules/karma-firefox-launcher/
node_modules/karma-jasmine/
node_modules/karma-mocha-reporter/
node_modules/karma-mocha/
node_modules/karma-phantomjs-launcher/
node_modules/karma/
node_modules/mocha/
node_modules/phantomjs-prebuilt/
node_modules/phantomjs/
node_modules/sinon-chai/
node_modules/sinon/
test/
